<div id="container">
	<div id="searchheader"></div>
	<h2>Login</h2>
	
	<?php 
		echo $this->Form->create('User',
			array('url' => array('action' => 'login'),array('escape'=>false),
			array('name'=>'login') , 'enctype' => 'multipart/form-data'));
		echo $this->Form->input('email');
		echo $this->Form->input('password');
		echo $this->Form->end(__('Login'));
	
	?>


</div>